.main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  align-items: center;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: clamp(0rem, 50rem, 100vw);
}

.title {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  &_wrapper {
    display: flex;
    flex-direction: column;
  }
}

.image {
  width: 6rem;
  height: 6rem;
}

.subtitle {
  font-size: 1.8rem;
  line-height: 1.8rem;
  cursor: default;
}

.degree {
  font-size: 6rem;
  line-height: 8rem;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  cursor: default;
}

.footer {
  height: 45vh;
  width: clamp(0rem, 50rem, 100vw);
  z-index: 1;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  position: relative;
}

.overlay {
  backdrop-filter: blur(20px);
  height: 100vh;
  width: 100vw;
  z-index: 10;
  top: -100vh;
  position: absolute;
  transition: 0.5s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #edecec;
}

.input {
  height: 5rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgb(22, 62, 85);
  color: inherit;
  font-family: inherit;
  font-size: 2rem;
}

.background {
  position: absolute;
  background-color: #edecec;
  height: 50vh;
  width: 150%;
  border-radius: 50% 50% 0 0;
  left: -25%;
  bottom: 0;
}
