.header {
  min-height: 4rem;
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.267);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 3rem;
}
