@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
  vertical-align: top;
}

button {
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 1.3px;
  color: #edecec;
  overflow: hidden;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    -45deg,
    rgb(27, 77, 106),
    rgb(22, 62, 85),
    rgb(85, 22, 40),
    rgb(126, 32, 54)
  );
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
